<!DOCTYPE>
<html>
<head>
	<title>Expressions</title>
</head>
<body ng-app="myApp">
  <div id="emailEditor" ng-controller="MyController">
    <input ng-model="to"
           type="email"
           placeholder="Recipient" />
    <textarea ng-model="emailBody"></textarea>

    <div id="emailPreview">
      <pre>__ previewText __</pre>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
  <script type="text/javascript" src="js/expressions.js"></script>
</body>
</html>
